/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.row-label {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.2px;
  color: #656c7b;
}

.row-value {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #3c4049;;
}
